In [1]:
import pandas as pd

In [2]:
customer_interactions = pd.read_csv('customer_interactions.csv')
purchase_history = pd.read_csv('purchase_history.csv')
product_details = pd.read_csv('product_details.csv')

In [3]:
customer_interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87229 entries, 0 to 87228
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       87229 non-null  int64
 1   page_views    87229 non-null  int64
 2   session_time  87229 non-null  float64
 3   session_id    87229 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 2.7+ MB

In [4]:
purchase_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276761 entries, 0 to 276760
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        276761 non-null  int64
 1   product_id     276761 non-null  int64
 2   session_id     276761 non-null  object
 3   purchase_date  276761 non-null  object
 4   purchased      276761 non-null  int64
dtypes: int64(3), object(2)
memory usage: 10.6+ MB

In [5]:
product_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52230 entries, 0 to 52229
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product_id   52230 non-null  int64
 1   category_id  52230 non-null  int64
 2   price        52230 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.2 MB

In [6]:
purchase_history.purchased.value_counts()

purchased
0    269535
1      7226
Name: count, dtype: int64

# Data Preparation

### Feature Engineering

In [7]:
data = purchase_history.merge(customer_interactions)
data = data.merge(product_details)
data

,user_id,product_id,session_id,purchase_date,purchased,page_views,session_time,category_id,price
0,512749724,1000978,21db6fe3-b667-40cc-acde-63c0861c8bac,2019-10-31 08:49:59+00:00,0,7,1121.0,2053013555631882655,307.192
1,551539729,1000978,259156cd-39ce-4b52-be5c-112e82944cd7,2019-10-30 13:20:56+00:00,0,7,196.0,2053013555631882655,307.192
2,512641002,1000978,268cc02f-2c57-493e-8514-ea6ab50e3b1b,2019-10-27 03:22:27+00:00,0,2,87.0,2053013555631882655,307.192
3,551539729,1000978,40fee886-f23b-4025-be2b-286f05fbdc78,2019-10-25 14:05:42+00:00,0,16,653.0,2053013555631882655,307.192
4,529216566,1000978,5331aada-6a85-402a-bfe3-21976b6d1c2a,2019-10-22 15:30:31+00:00,0,18,381.0,2053013555631882655,307.192
...,...,...,...,...,...,...,...,...,...
276755,512694680,60500002,2c48e74e-d100-4fd3-bc03-1f73f56ad592,2019-10-27 05:29:17+00:00,0,11,1075.0,2162513070503494350,42.190
276756,512684520,60500002,958883de-b352-4219-81b9-5b819d3d7810,2019-10-30 17:23:43+00:00,0,4,85.0,2162513070503494350,42.190
276757,519178692,60500002,b48fd7f4-2225-4a87-9823-dbf33edcb250,2019-10-30 18:12:11+00:00,0,3,140.0,2162513070503494350,42.190
276758,516187142,60500002,eceb3971-a847-41b0-9600-73a847792af0,2019-10-25 15:11:18+00:00,0,30,1849.0,2162513070503494350,42.190
276759,513411503,60500007,e6351225-75b4-4a76-9217-a2b4e6152214,2019-10-25 13:39:13+00:00,0,49,8232.0,2162513070503494350,0.000

In [8]:
data['user_id'] = data['user_id'].astype(int)
data['product_id'] = data['product_id'].astype(int)
data

,user_id,product_id,session_id,purchase_date,purchased,page_views,session_time,category_id,price
0,512749724,1000978,21db6fe3-b667-40cc-acde-63c0861c8bac,2019-10-31 08:49:59+00:00,0,7,1121.0,2053013555631882655,307.192
1,551539729,1000978,259156cd-39ce-4b52-be5c-112e82944cd7,2019-10-30 13:20:56+00:00,0,7,196.0,2053013555631882655,307.192
2,512641002,1000978,268cc02f-2c57-493e-8514-ea6ab50e3b1b,2019-10-27 03:22:27+00:00,0,2,87.0,2053013555631882655,307.192
3,551539729,1000978,40fee886-f23b-4025-be2b-286f05fbdc78,2019-10-25 14:05:42+00:00,0,16,653.0,2053013555631882655,307.192
4,529216566,1000978,5331aada-6a85-402a-bfe3-21976b6d1c2a,2019-10-22 15:30:31+00:00,0,18,381.0,2053013555631882655,307.192
...,...,...,...,...,...,...,...,...,...
276755,512694680,60500002,2c48e74e-d100-4fd3-bc03-1f73f56ad592,2019-10-27 05:29:17+00:00,0,11,1075.0,2162513070503494350,42.190
276756,512684520,60500002,958883de-b352-4219-81b9-5b819d3d7810,2019-10-30 17:23:43+00:00,0,4,85.0,2162513070503494350,42.190
276757,519178692,60500002,b48fd7f4-2225-4a87-9823-dbf33edcb250,2019-10-30 18:12:11+00:00,0,3,140.0,2162513070503494350,42.190
276758,516187142,60500002,eceb3971-a847-41b0-9600-73a847792af0,2019-10-25 15:11:18+00:00,0,30,1849.0,2162513070503494350,42.190
276759,513411503,60500007,e6351225-75b4-4a76-9217-a2b4e6152214,2019-10-25 13:39:13+00:00,0,49,8232.0,2162513070503494350,0.000

### Downsampling

In [9]:
from sklearn.utils import resample

data_majority = data[data['purchased'] == 0]
data_minority = data[data['purchased'] == 1]

# Downsample majority class
data_majority_downsampled = resample(data_majority, 
                                   n_samples=len(data_minority)) # Match minority class size

# Combine downsampled majority with minority
data_downsampled = pd.concat([data_minority, data_majority_downsampled])

### Data Splitting

In [10]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.2)

In [11]:
print(train.shape)
print(test.shape)

(221408, 9)
(55352, 9)

In [12]:
train.head()

,user_id,product_id,session_id,purchase_date,purchased,page_views,session_time,category_id,price
40821,512504644,1004884,1f9e888d-e9a1-466d-adb8-9f16b4dc97c3,2019-10-11 12:31:26+00:00,0,25,3827.0,2053013555631882655,228.711343
161912,542229395,12300394,33a01a31-932e-4639-8e5b-9dbf142382f4,2019-10-01 04:08:25+00:00,0,4,3159.0,2053013556311359947,46.788378
76875,538504463,1500431,4c78a8f0-8041-4df1-8800-cf92e4e3a56c,2019-10-10 19:20:34+00:00,0,6,498.0,2053013552955916539,180.160000
70079,512792801,1306948,0ad821a8-7f27-4c74-9a32-1c3b088b2a0d,2019-10-24 07:44:32+00:00,0,6,1330.0,2053013558920217191,693.470583
177232,512389896,13100712,928489ce-1756-49c5-894a-8103d7574f04,2019-10-19 20:16:15+00:00,0,3,54811.0,2053013553526341921,380.760000

### WandB Setup

In [13]:
# !pip install wandb

In [14]:
!wandb login

wandb: Currently logged in as: manfredmichael (nodeflux-internship). Use `wandb login --relogin` to force relogin

In [417]:
import wandb
import random
from wandb.keras import WandbMetricsLogger, WandbModelCheckpoint

from tensorflow.keras.optimizers import Adam

wandb.init(
    # set the wandb project where this run will be logged
    project="tech-assessment-recsyc",

    # track hyperparameters and run metadata with wandb.config
    config={
        "desc": "with session context + category embedding + class weights",
        "embedding": 16,
        "dropout": 0.1,
        "num_of_deep_layers": 4,
        "l2": 0.000
    }
)

config = wandb.config

### Model Building

In [418]:
import numpy as np
import tensorflow as tf
# import tensorflow_datasets as tfds

import tensorflow_recommenders as tfrs

In [419]:
n_products = data.product_id.nunique()
n_users = data.user_id.nunique()
n_category =  data.category_id.nunique()

unique_products = list(data.product_id.unique())
unique_users = list(data.user_id.unique())
unique_category = list(data.category_id.unique())

print('num of users:', n_users)
print('num of products:', n_products)
print('num of categories:', n_category)

num of users: 10000
num of products: 52229
num of categories: 593

In [420]:
from tensorflow.keras.models import Model, Sequential 
from tensorflow.keras.layers import Input, Embedding, Dot, Flatten, Dense, concatenate, Dropout
from tensorflow.keras.activations import sigmoid
from tensorflow.keras import regularizers

EMBEDDING_DIM = config.embedding

# WIDE MODEL
wide_model = Sequential([Dense(EMBEDDING_DIM * 2, use_bias='false', 
                        kernel_regularizer=regularizers.l2(config.l2)),
                         Dropout(config.dropout)])

# DEEP MODEL
deep_layers = []
for i in range(config.num_of_deep_layers):
    deep_layers += [Dense(EMBEDDING_DIM, activation='relu', use_bias='false', kernel_regularizer=regularizers.l2(config.l2)),
                    Dropout(config.dropout)]
              
deep_model = Sequential(deep_layers)

# input layers
product_input = Input(shape=[1], name='product_id')
user_input = Input(shape=[1], name='user_id')

page_views_input = Input(shape=[1], name='page_views')
session_time_input = Input(shape=[1], name='session_time')

price_input = Input(shape=[1], name='price')

category_input = Input(shape=[1], name='category_id')
category_input_int = tf.keras.layers.IntegerLookup(vocabulary=unique_category, num_oov_indices=1, mask_token=None)(category_input)
category_embedding = Embedding(n_products+1, EMBEDDING_DIM, embeddings_regularizer=regularizers.l2(config.l2))(category_input_int)

session_context = concatenate([price_input, page_views_input, session_time_input])
session_context = tf.keras.layers.BatchNormalization()(session_context)
session_context = tf.keras.layers.Dense(EMBEDDING_DIM, activation='relu', kernel_regularizer=regularizers.l2(config.l2))(session_context)

product_input_int = tf.keras.layers.IntegerLookup(vocabulary=unique_products, num_oov_indices=1, mask_token=None)(product_input)
user_input_int = tf.keras.layers.IntegerLookup(vocabulary=unique_users, num_oov_indices=1, mask_token=None)(user_input)

# # Convert strings to integers
# product_input_int = product_lookup(product_input)
# user_input_int = user_lookup(user_input)

# embedding layers 
product_embedding = Embedding(n_products+1, EMBEDDING_DIM, embeddings_regularizer=regularizers.l2(config.l2))(product_input_int)
user_embedding = Embedding(n_users+1, EMBEDDING_DIM, embeddings_regularizer=regularizers.l2(config.l2))(user_input_int)

# flatten the embeddings
product_flat = Flatten()(product_embedding)
user_flat = Flatten()(user_embedding)
category_embedding = Flatten()(category_embedding)

# wide and deep model
concat = concatenate([product_flat, user_flat, category_embedding])
wide_output = wide_model(concat)
deep_output = deep_model(concat)

# output layer
concat_2 = concatenate([wide_output, deep_output])
embeddings_output = tf.keras.layers.Dense(EMBEDDING_DIM, activation='relu',  kernel_regularizer=regularizers.l2(config.l2), use_bias='false')(concat_2)
concat_3 = concatenate([embeddings_output, session_context])
output = Dense(1, activation='sigmoid', use_bias='false')(concat_3)
#output = sigmoid(Dot(1)([wide_output, deep_output]))

# the model
model = Model([product_input, user_input, page_views_input, session_time_input, price_input, category_input], [output])

In [421]:
model.summary()

Model: "model_25"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 product_id (InputLayer)     [(None, 1)]                  0         []

 user_id (InputLayer)        [(None, 1)]                  0         []

 category_id (InputLayer)    [(None, 1)]                  0         []

 integer_lookup_70 (Integer  (None, 1)                    0         ['product_id[0][0]']
 Lookup)

 integer_lookup_71 (Integer  (None, 1)                    0         ['user_id[0][0]']
 Lookup)

 integer_lookup_69 (Integer  (None, 1)                    0         ['category_id[0][0]']
 Lookup)

 embedding_70 (Embedding)    (None, 1, 16)                835680    ['integer_lookup_70[0][0]']

 embedding_71 (Embedding)    (None, 1, 16)                160016    ['integer_lookup_71[0][0]']

 embedding_69 (Embedding)    (None, 1, 16)                835680    ['integer_lookup_69[0][0]']

 flatten_69 (Flatten)        (None, 16)                   0         ['embedding_70[0][0]']

 flatten_70 (Flatten)        (None, 16)                   0         ['embedding_71[0][0]']

 flatten_71 (Flatten)        (None, 16)                   0         ['embedding_69[0][0]']

 concatenate_93 (Concatenat  (None, 48)                   0         ['flatten_69[0][0]',
 e)                                                                  'flatten_70[0][0]',
                                                                     'flatten_71[0][0]']

 price (InputLayer)          [(None, 1)]                  0         []

 page_views (InputLayer)     [(None, 1)]                  0         []

 session_time (InputLayer)   [(None, 1)]                  0         []

 sequential_46 (Sequential)  (None, 32)                   1568      ['concatenate_93[0][0]']

 sequential_47 (Sequential)  (None, 16)                   1600      ['concatenate_93[0][0]']

 concatenate_92 (Concatenat  (None, 3)                    0         ['price[0][0]',
 e)                                                                  'page_views[0][0]',
                                                                     'session_time[0][0]']

 concatenate_94 (Concatenat  (None, 48)                   0         ['sequential_46[0][0]',
 e)                                                                  'sequential_47[0][0]']

 batch_normalization_34 (Ba  (None, 3)                    12        ['concatenate_92[0][0]']
 tchNormalization)

 dense_188 (Dense)           (None, 16)                   784       ['concatenate_94[0][0]']

 dense_187 (Dense)           (None, 16)                   64        ['batch_normalization_34[0][0]
                                                                    ']

 concatenate_95 (Concatenat  (None, 32)                   0         ['dense_188[0][0]',
 e)                                                                  'dense_187[0][0]']

 dense_189 (Dense)           (None, 1)                    33        ['concatenate_95[0][0]']

==================================================================================================
Total params: 1835437 (7.00 MB)
Trainable params: 1835431 (7.00 MB)
Non-trainable params: 6 (24.00 Byte)
__________________________________________________________________________________________________

In [422]:
from sklearn.utils import class_weight

class_weights = class_weight.compute_class_weight('balanced', 
                                                  classes=np.unique(train.purchased),
                                                  y=train.purchased)
class_weights_dict = dict(enumerate(class_weights))

model.compile(optimizer=Adam(lr=1e-2), loss='binary_crossentropy', 
              metrics=['accuracy',  tf.keras.metrics.Precision(), tf.keras.metrics.Recall(name='recall'),
                      tf.keras.metrics.AUC(name='AUC')])

WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.Adam.

In [423]:
from tensorflow.keras.callbacks import ModelCheckpoint


checkpoint_callback = ModelCheckpoint(
    filepath='best_weights_epoch-{epoch:02d}-val-auc-{val_AUC:.3f}.hdf5',
    monitor='val_recall',  
    mode='max',          
    save_best_only=True,  # Save only the best model
    save_weights_only=True,  
    verbose=1            
)

In [424]:
history = model.fit(x=[train.product_id, train.user_id, train.page_views, train.session_time, train.price, train.category_id], y=train.purchased,
                    validation_split=0.2,
                    batch_size=8192,
                    epochs=3,
                    class_weight=class_weights_dict,
                    callbacks=[
                      WandbMetricsLogger(log_freq='batch'),
                      # WandbModelCheckpoint("models-initial"),
                      checkpoint_callback 
                    ])

Epoch 1/3
 6/22 [=======>......................] - ETA: 1s - loss: 0.6844 - accuracy: 0.7321 - precision_25: 0.0328 - recall: 0.3278 - AUC: 0.5781WARNING:tensorflow:Callback method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0370s vs `on_train_batch_end` time: 0.0704s). Check your callbacks.

WARNING:tensorflow:Callback method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0370s vs `on_train_batch_end` time: 0.0704s). Check your callbacks.

22/22 [==============================] - ETA: 0s - loss: 0.6872 - accuracy: 0.6520 - precision_25: 0.0352 - recall: 0.4633 - AUC: 0.5935
Epoch 1: val_recall improved from -inf to 0.68342, saving model to best_weights_epoch-01-val-auc-0.602.hdf5
22/22 [==============================] - 10s 237ms/step - loss: 0.6872 - accuracy: 0.6520 - precision_25: 0.0352 - recall: 0.4633 - AUC: 0.5935 - val_loss: 0.7172 - val_accuracy: 0.4791 - val_precision_25: 0.0330 - val_recall: 0.6834 - val_AUC: 0.6024
Epoch 2/3
22/22 [==============================] - ETA: 0s - loss: 0.6650 - accuracy: 0.6637 - precision_25: 0.0497 - recall: 0.6493 - AUC: 0.7083
Epoch 2: val_recall did not improve from 0.68342
22/22 [==============================] - 3s 151ms/step - loss: 0.6650 - accuracy: 0.6637 - precision_25: 0.0497 - recall: 0.6493 - AUC: 0.7083 - val_loss: 0.6278 - val_accuracy: 0.6932 - val_precision_25: 0.0484 - val_recall: 0.5882 - val_AUC: 0.6894
Epoch 3/3
22/22 [==============================] - ETA: 0s - loss: 0.5981 - accuracy: 0.7546 - precision_25: 0.0766 - recall: 0.7525 - AUC: 0.8084
Epoch 3: val_recall did not improve from 0.68342
22/22 [==============================] - 3s 138ms/step - loss: 0.5981 - accuracy: 0.7546 - precision_25: 0.0766 - recall: 0.7525 - AUC: 0.8084 - val_loss: 0.5411 - val_accuracy: 0.7366 - val_precision_25: 0.0584 - val_recall: 0.6138 - val_AUC: 0.7150

In [425]:
model.evaluate(x=[test.product_id, test.user_id, test.page_views, test.session_time, test.price, test.category_id], 
               y=test.purchased, batch_size=8192)

7/7 [==============================] - 1s 93ms/step - loss: 0.5423 - accuracy: 0.7354 - precision_25: 0.0580 - recall: 0.6070 - AUC: 0.7109

[0.54225754737854,
 0.735384464263916,
 0.0580485537648201,
 0.6069930195808411,
 0.7109137773513794]

In [426]:
model([test.product_id, test.user_id, test.page_views.values.reshape(-1, 1), test.session_time.values.reshape(-1, 1), test.price.values.reshape(-1, 1), test.category_id])

<tf.Tensor: shape=(55352, 1), dtype=float32, numpy=
array([[0.42241   ],
       [0.43358284],
       [0.36978987],
       ...,
       [0.298295  ],
       [0.20453706],
       [0.43876216]], dtype=float32)>

In [427]:
product_details

       product_id          category_id       price
0         1000978  2053013555631882655  307.192000
1         1001588  2053013555631882655  128.090000
2         1002042  2053013555631882655   77.140000
3         1002062  2053013555631882655  101.880625
4         1002098  2053013555631882655  376.433208
...           ...                  ...         ...
52225    60400001  2162513070000177858  487.500000
52226    60400002  2162513070000177858  358.540000
52227    60500001  2162513070503494350   25.200000
52228    60500002  2162513070503494350   42.190000
52229    60500007  2162513070503494350    0.000000

[52230 rows x 3 columns]

In [428]:
def get_recommendation(user_id, page_views, session_time, products=product_details, model=model):
    products = products.copy()
    user_ids = [user_id] * len(products)
    page_views = [page_views] * len(products)
    session_time = [session_time] * len(products)

    input_ = pd.DataFrame({'product_id': list(products.product_id), 
                           'user_id': user_ids,
                           'page_views': page_views,
                           'session_time': session_time,
                           'price': list(products.price),
                           'category_id': list(products.category_id)})
    
    results = model([input_['product_id'], 
                     input_['user_id'],
                     input_['page_views'].values.reshape(-1, 1),
                     input_['session_time'].values.reshape(-1, 1),
                     input_['price'].values.reshape(-1, 1),
                     input_['category_id']
                    ]).numpy().reshape(-1)
    # results = model([products, user_ids]).numpy().reshape(-1)
    
    products['purchase_proba'] = pd.Series(results, index=products.index)
    products = products.sort_values('purchase_proba', ascending=False)
    
    return products

In [431]:
get_recommendation(513411503, 
                   page_views=10, 
                   session_time=714.0)

       product_id          category_id        price  purchase_proba
916       1005144  2053013555631882655  1720.407530        0.786002
907       1005135  2053013555631882655  1737.485376        0.784788
47129    33900039  2059484602216481097  2573.810000        0.755602
40109    27700639  2053013560086233771  2571.150000        0.750894
47148    33900067  2059484602216481097  2573.810000        0.750641
...           ...                  ...          ...             ...
33140    22700324  2053013556168753601    22.279091        0.189495
9041      5100833  2053013553375346967    47.687910        0.189279
8349      4804137  2053013554658804075   105.215313        0.182693
42876    28715756  2053013565069067197    73.484490        0.180599
14256     8800093  2053013555573162395    53.849344        0.177097

[52230 rows x 4 columns]

In [432]:
get_recommendation(512525276, 
                   page_views=3, 
                   session_time=182.0)

       product_id          category_id        price  purchase_proba
916       1005144  2053013555631882655  1720.407530        0.772818
907       1005135  2053013555631882655  1737.485376        0.770175
847       1005074  2053013555631882655  1188.910128        0.731957
47129    33900039  2059484602216481097  2573.810000        0.727920
912       1005140  2053013555631882655  1524.516667        0.727900
...           ...                  ...          ...             ...
5850      3601505  2053013563810775923   479.102000        0.198451
5721      3601212  2053013563810775923   409.266082        0.196772
42876    28715756  2053013565069067197    73.484490        0.193689
8349      4804137  2053013554658804075   105.215313        0.193333
14256     8800093  2053013555573162395    53.849344        0.188743

[52230 rows x 4 columns]

# Save and Load Model

In [433]:
model.save_weights('final_model.h5')

In [434]:
model_load = Model([product_input, user_input, page_views_input, session_time_input, price_input, category_input], [output])
model_load.load_weights('final_model.h5')

In [436]:
get_recommendation(513411503, 
                   page_views=10, 
                   session_time=714.0,
                   model=model_load)

       product_id          category_id        price  purchase_proba
916       1005144  2053013555631882655  1720.407530        0.786002
907       1005135  2053013555631882655  1737.485376        0.784788
47129    33900039  2059484602216481097  2573.810000        0.755602
40109    27700639  2053013560086233771  2571.150000        0.750894
47148    33900067  2059484602216481097  2573.810000        0.750641
...           ...                  ...          ...             ...
33140    22700324  2053013556168753601    22.279091        0.189495
9041      5100833  2053013553375346967    47.687910        0.189279
8349      4804137  2053013554658804075   105.215313        0.182693
42876    28715756  2053013565069067197    73.484490        0.180599
14256     8800093  2053013555573162395    53.849344        0.177097

[52230 rows x 4 columns]

In [385]:
get_recommendation(550050854, model=model_load).head(10)

       product_id          category_id       price  purchase_proba
6904      4100346  2053013561218695907  392.809650        0.218746
4038      2601810  2053013563970159485  155.259458        0.213689
703       1004863  2053013555631882655  173.004043        0.194762
378       1004246  2053013555631882655  743.151695        0.171427
563       1004659  2053013555631882655  738.926172        0.168789
700       1004856  2053013555631882655  131.142246        0.167703
4750      2800476  2053013563835941749  172.080000        0.167442
20240    12706258  2053013553559896355   60.230000        0.160695
381       1004249  2053013555631882655  739.568116        0.126330
684       1004838  2053013555631882655  174.748446        0.120576

In [386]:
get_recommendation(0, model=model_load)

       product_id          category_id        price  purchase_proba
847       1005074  2053013555631882655  1188.910128        0.174015
916       1005144  2053013555631882655  1720.407530        0.170057
22811    13103656  2053013553526341921   270.280000        0.164640
41300    28300432  2053013566243472379    46.330000        0.131460
19296    12700716  2053013553559896355    40.930000        0.122681
...           ...                  ...          ...             ...
787       1004990  2053013555631882655   253.171459        0.001422
8883      5100551  2053013553341792533   166.080331        0.001417
12705     7005394  2053013560346280633   163.883901        0.001398
757       1004946  2053013555631882655   738.895365        0.001359
842       1005069  2053013555631882655   301.907003        0.001194

[52230 rows x 4 columns]